@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */
}

html{
  scroll-padding-top: 84px;
}

main{
  padding: 0px 24px;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

.btn-generico{
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: max-content; */
  border-radius: 30px;

  max-width: 162px;
  height: 44px;
  padding: 10px 32px;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.45712px;

  background-color: #662BDF;
  color: white;
}

.h2-title{
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  padding: 5px 0px;
}

.h2-subtitle{
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 24px;
}

.card-reverse{
  display: flex;
  flex-direction: row-reverse;
}

/*  HEADER  */
.header{
  display: flex;
  justify-self: center;
  position: sticky;
  top: 0;
  z-index: 100;

  width: 100%;
  height: 83px;
  background-color: white;
  border-bottom: 1px solid #E7EAED;
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1022px;
  padding: 16px;
  margin: 0px auto;
}
.header__container-mobile{
  display: none;
}
.img-logo-container-mobile{
  display: none;
}
.img-logo-container{
  margin-right: 19px;
  max-height: 37px;
}
.header__container img{
  cursor: pointer;

  max-width: 140px;
  width: 100%;
  height: 100%;
}
.header__container.header__container_nav{
  padding: 16px;
}.header__container_nav ul{
  display: flex;
  list-style: none;
  position: relative;
}.header__container_nav ul li{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 41px;
  margin: 0px 4px;
  padding: 6px 24px;
  border-radius: 50px;

  font-size: 14px;
  font-weight: 700;
}.header__container_nav ul li:hover{
  cursor: pointer;
  background-color: #E5D6FF;
}.li-nav-style::after{
  content: "";
  position: absolute;
    /* top: 25%; */ /* si ponia un top: 25% y le sacaba el transform
    quedaba parecido, pero no muy exacto*/
  top: 50%;
  right: 0;
  transform: translateY(-50%); /*esta propiedad no la conocia, pero la vi
    en los stylos de la pagina, aprendi para que y como se usaba y decidi
    dejar esta manera en vez de la manera que puse arriba dejando el top: 25%*/
  width: 1px;
  height: 24px;
  background-color: #bebebe;
}

.header__container_a-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  margin-left: 29px;
}
.btn-header{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  min-width: 160px;
  min-height: 41px;
  margin: 0 4px;
  padding: 6px 24px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.btn-header.btn_1{
  background-color: white;
  color: #662ADE;
  border: 1px solid #662ADE;
}
.btn-header.btn_2{
  background-color: #662ADE;
  color: white;
  border: none;
}





/*  MAIN  */

main {
  background-color: #FDFAFF;
}

.section-beneficios{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;
  padding: 30px 0px;
  gap: 20px;
}
.h2-container-beneficios{
  max-width: 1022px;
  width: 100%;
  margin-bottom: 17px;
}
.h2-section{
  text-align: center;
  font-size: 43px;
  font-weight: 600;
  letter-spacing: -.038em;
  margin: 8px 0px;
}
.article-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  max-width: 1022px;
  width: 100%;
  
  margin: 0px 10px;
  column-gap: 16px;
}
.article-container article{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  
  max-width: 317px;
  min-height: 184px;
  margin-top: 12px;
  padding: 24px;
  gap: 7px;
  border-radius: 16px;
  background-color: white;
}.article-container article h2{
  min-height: 28px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.article-container article p{
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #6a6a6a;
}
.span-svg-beneficios{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 62px;
  height: 62px;
  padding: 19px;
  border-radius: 7px;
  background-color: #F0EBFD;
}.span-svg-beneficios svg{
  color: #652bdf;
}.span-svg-beneficios svg:hover{
  color: #360c72;
}

.section-beneficios__comercios-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1022px;
  width: 100%;
  max-height: 134px;
  height: 100%;

  margin: 32px 24px 0px 24px;
  padding: 32px 40px;
  
  gap: 32px;
  border-radius: 31px;
  background-color: #370C73;
}.section-beneficios__comercios-container div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 13px;
  gap: 16px;
  color: white;
}.section-beneficios__comercios-container div h2{
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
}.section-beneficios__comercios-container div p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}.section-beneficios__comercios-container span{
  /* background-color: white; */
  width: 190px;
  margin: auto 0px;
}
.section-beneficios__comercios-container span a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 44px;
  padding: 10px 32px;
  
  border-radius: 30px;
  
  color: #662BDF;
  background-color: white;
}

.section-cobros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  max-width: 1022px;
  padding: 40px 0px;
}
.section-cobros p{
  margin-top: 16px;
  margin-bottom: 36px;
  color: #6a6a6a;
}
.cards-container {
  display: flex;
  flex-direction: column;

  gap: 50px;
}
.cards-container__card{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1022px;
  width: 100%;
  height: 350px;
  border-radius: 32px;
  background-color: white;
}
.cards-container__card__img-container{
  min-width: 50%;
  object-fit: cover;
  overflow: hidden;
}
.cards-container__card img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cards-container__card .info-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 511px;
  max-height: 350px;
  height: 100%;
  padding: 32px 24px;
  gap: 32px;
}.info-card .text-card{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 208px;
}
.text-card p {
  /*viendo el html original y buscando, aprendí la propiedad 'inherit'*/
  color: inherit;
  font-size: 18px;
  color: #6a6a6a;
  line-height: 27px;

  margin: 0px;
  font-weight: 400;
}

/*  FOOTER  */

footer{
  display: flex;
  justify-content: center;
}

.footer-container{
  display: flex;
  flex-direction: column;
  align-items: 
  flex-start;

  max-width: 1022px;
  width: 100%;

  margin: 0px auto;
  padding: 24px;
}
.footer-container img {
  margin-bottom: 9px;
}
.footer-container__list-container{
  display: flex;
  justify-content: space-between;

  width: 100%;
}
.footer-container__list-container ul {
  width: 237px;
}
.footer-container__list-container ul li{
  margin: 8px 0px;
}
.footer-container__list-container ul li a{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  color: #2b2b2b;
}
.title-footer{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  color: #2b2b2b;
}


@media screen and (width < 1024px){
  /*HEADER*/
          /* display: none*/
  .header__container .img-logo-container{
    display: none;
  }
  .header__container .header__container_nav{
    display: none;
  }
  .header__container .header__container_a-container{
    display: none;
  }
  /*   ---   */
  
  .header{
    height: 72px;
  }
  .header__container-mobile{
   display: flex;
   
   width: 100%; 
  }
  .header__container-mobile .svg-container-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 24px;
    
    width: 40px;
    height: 40px;

  }
  .header__container .img-logo-container-mobile{
    display: inline;
    width: auto;
    height: auto;
  }
  .header__container .img-logo-container-mobile img{
    height: 41px;
  }


  /*MAIN*/

  .h2-container-beneficios .h2-section{
    font-size: 30px;
    letter-spacing: -0.73px;
    font-weight: 700;
    margin: 0px;
  }

  .h2-container-beneficios .h2-title{
    padding: 0px;
  }

  .section-cobros .h2-title{
    font-size: 30px;
    letter-spacing: -.045em;
  }

  .section-cobros p{
    font-size: 14px;
  }

  .cards-container {
    max-width: 720px;
  }
  .cards-container .info-card{
    max-width: 360px;
    width: 100%;

  }
  .cards-container__card {
    flex: 1;
  }
  .cards-container__card__img-container{
    max-width: 360px;
  }
}


@media screen and (width < 1065px) {
  .word-block {
    display: block;
  }
}

@media screen and (width < 869px){
  .article-container article h2 {
    min-width: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

@media screen and (width < 768px){
  .section-beneficios .article-container{
    flex-direction: column;
    max-width: 719px;
  }

  .section-beneficios .article-container article{
    max-width: 100%;
  }
  .section-beneficios .article-container article h2 {
    font-size: 20px;
  }
  .section-beneficios .article-container article p {
    font-size: 16px;
  }

  .section-beneficios .section-beneficios__comercios-container{
    flex-direction: column;
    max-width: 719px;
    max-height: max-content;

    margin: 0px;
    padding: 32px 64px;
    gap: 24px;
  }
  .section-beneficios .section-beneficios__comercios-container div{
    max-width: 719px;
    width: 100%;
    margin: 0px;
  }
  .section-beneficios .section-beneficios__comercios-container span {
    max-width: 719px;
    width: 100%;
  }

  .section-cobros{
    max-width: 719px;
    width: 100%;
  }

  .section-cobros .cards-container {
    height: auto;
    width: 100%;
  }
  .section-cobros .cards-container .cards-container__card{
    flex-direction: column-reverse;
  }
  .cards-container__card .info-card{
    max-width: 719px;
    max-height: 216px;
  }
  .cards-container__card .cards-container__card__img-container{
    max-width: 719px;
  }
  .cards-container__card .info-card .text-card{
    max-height: 83px;
  }
  .info-card .text-card h2{
    font-size: 24px;
  }
  .info-card .text-card p{
    font-size: 16px;
  }
}

@media screen and (width < 425px){

  .cards-container .cards-container__card .info-card a{
    max-width: 327px;
    font-size: 16px;
  }

  .footer-container img {
    align-self: center;
  }
  .footer-container .footer-container__list-container{
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: -12px;
    margin-right: -12px;
    row-gap: 24px;
  }

  .footer-container .footer-container__list-container > ul{
    width: auto;
    flex: 0 0 50%;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (width < 320px) {
  .section-cobros .cards-container {
    height: auto;
    width: 100%;
  }
  .section-cobros .cards-container .cards-container__card{
    flex-direction: column-reverse;
    max-height: 487px;
  }
  .cards-container__card .info-card{
    align-items: center;
    max-width: 320px;
    max-height: 232px;
    height: 100%;
    padding: 24px;
  }
  .cards-container__card .info-card .text-card {
    max-height: 114px;
    height: 100%;
  }
  
  .cards-container__card .cards-container__card__img-container{
    max-width: 320px;
    max-height: 187px;
  }
  .info-card .text-card h2{
    font-size: 24px;
  }
  .info-card .text-card p{
    font-size: 16px;
  }
}